<%= simple_form_for @race do |f|%>
  <%= f.input :race_name, label: 'Race Name'%>
  <%= f.input :distance, collection: @race_distances, label: 'Distance' %>
<h5>Race Time</h5>
  <%= f.input_field :time_minute, label: 'Minutes'%>
  <%= f.input_field :time_second, label: 'Seconds' %>
  <%= f.input :location, label: 'Location' %>
  <%= f.button :submit %>
<% end %>